<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="flash-notice">
				<%= flash[:notice] %>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="tweet-form">
				<%= form_for @tweet do |f| %>
					<div class="form_field">
						<%= f.text_area :content, size: "10x5", class:"form-control", required: true, placeholder: "ツイート内容" %>
					</div>
					<div class="submit">
						<%= f.submit "ツイートする", class:"btn" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<ul class="list-group">
				<% @tweets.each do |tweet| %>
					<li class="list-group-item">
						<div class="tweet-actions">
							<%= link_to '詳細', tweet_path(tweet) %>
							<% if tweet.user == current_user %>
								<%= link_to '編集', edit_tweet_path(tweet) %>
								<%= link_to '削除', tweet_path(tweet), method: :delete, "data-confirm" => "本当に削除しますか？" %>
							<% end %>
							<%= tweet.created_at.to_s(:datetime_jp) %>
						</div>
						<div>
							<%= tweet.user.name %><br>
							<%= tweet.content %><br>
							<%= tweet.comments.count %>件のコメント
							<%= render 'likes/like_tweet', tweet: tweet %><%= tweet.likes.count %>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
